Repository pandamorda/Cooperation: changes, and which lint-staged commands are due for each by the changed paths.
All: format, eslint:fix, stylelint:fix

.lintstagedrc:

{
    "**/*.js": [
        "format",
        "eslint:fix",
        "git add"
    ],
    "**/*.css": [
        "stylelint:fix",
        "git add"
    ]
}

Feat(config): update Webpack config, add a logo
  .babelrc
  .eslintignore
  .gitignore
  README.md
  logo.png
  package-lock.json
  package.json
  webpack.config.cjs
  webpack.config.js
Due: format, eslint:fix

Add buttons fuctionality:(profile)
  pages/profile/index.html
  pages/profile/profile.css
  pages/profile/profile.js
  pages/start/index.html
  pages/start/start.css
Due: format, eslint:fix, stylelint:fix

Feat (cooperation): add a console page
  pages/console/console.css
  pages/console/index.html
  styles/_form.css
  styles/_null.css
Due: stylelint:fix

Add projects page. Add picture
  pages/projects/main-page/index.html
  pages/projects/main-page/main-page.css
  pages/projects/project/index.html
  pages/projects/project/project.css
  src/images/projects/projects-img.png
Due: stylelint:fix

Feat (cooperation): add a basic logic for console
  pages/_mockdata.js
  pages/console/_console.js
  pages/console/index.html
  pages/console/index.js
  pages/tests/index.html
  pages/tests/tests.css
Due: format, eslint:fix, stylelint:fix

Feat(tests): add a nav and progressbar handling
  pages/_mockdata.js
  pages/tests/_constants.js
  pages/tests/index.html
  pages/tests/index.js
  pages/tests/tests.css
Due: format, eslint:fix, stylelint:fix

Feat(Tests page): Add basic types of questions
  pages/_mockdata.js
  pages/tests/_constants.js
  pages/tests/index.html
  pages/tests/index.js
  pages/tests/tests.css
Due: format, eslint:fix, stylelint:fix

Feat(Cooperation): add a backend emulation
  back_emu/_mockdata.js
  back_emu/cooperation/index.js
  pages/_mockdata.js
  pages/console/index.html
  pages/tests/_constants.js
  pages/tests/index.html
  pages/tests/index.js
Due: format, eslint:fix

Add pages folder. Fix(main-page): fix figure and section. Fix(pages): fix span and zooming
  pages/projects/index.html
  pages/projects/main-page.css
  pages/projects/main-page/index.html
  pages/projects/pages/our-site/index.html
  pages/projects/pages/our-site/project.css
Due: stylelint:fix

Rename both files. Change % -> vw, section -> li. Add animation
  pages/projects/index.html
  pages/projects/pages/sample-project/index.html
  pages/projects/pages/sample-project/sample-project.css
  pages/projects/projects.css
Due: stylelint:fix

Feat (global styles): update
  styles/_constants.css
  styles/_layout.css
  styles/_null.css
  styles/_theme.css
  styles/style.css
Due: stylelint:fix

Fix(Projects group): optimize html/css
  pages/projects/index.html
  pages/projects/projects.css
  pages/sample-project/index.html
  pages/sample-project/sample-project.css
Due: stylelint:fix

Feat(back_emu, Console page): add a functionality
  back_emu/_mockdata.js
  back_emu/cooperation/index.js
  pages/console/_console.js
  pages/console/console.css
  pages/console/index.js
  pages/tests/_constants.js
  pages/tests/index.js
Due: format, eslint:fix, stylelint:fix

Fix(back_emu, Tests page): fix functionality
  back_emu/_mockdata.js
  back_emu/cooperation/index.js
  pages/tests/index.js
Due: format, eslint:fix

Feat(Cooperation group): split code
  back_emu/_mockdata.js
  back_emu/cooperation/index.js
  pages/console/_console.js
  pages/console/console.css
  pages/console/index.html
  pages/console/index.js
  pages/cooperation/_mini-console.js
  pages/cooperation/cooperation.css
  pages/cooperation/index.html
  pages/cooperation/index.js
  pages/tests/_constants.js
  pages/tests/index.html
  pages/tests/index.js
  scripts/_console-base.js
  scripts/constants/_cooperation.js
  scripts/constants/_main.js
Due: format, eslint:fix, stylelint:fix

Fix(Cooperation group): js/html/css
  back_emu/_mockdata.js
  back_emu/cooperation/index.js
  pages/cooperation/_mini-console.js
  pages/cooperation/cooperation.css
  pages/cooperation/index.html
  scripts/constants/_cooperation.js
Due: format, eslint:fix, stylelint:fix

Fix(start): optimize html/css/js
  pages/start/index.html
  pages/start/index.js
  pages/start/nickname_anim.js
  pages/start/scroll_anim.js
  pages/start/start.css
  src/images/start/arrow.png
Due: format, eslint:fix, stylelint:fix

Fix(start): optimize html/css/js
  pages/start/index.html
  pages/start/index.js
  pages/start/nickname_anim.js
  pages/start/scroll_anim.js
  pages/start/start.css
  scripts/constants/_main.js
  src/images/start/arrow.png
Due: format, eslint:fix, stylelint:fix

Feat(config): configure project
  .babelrc
  .eslintignore
  .eslintrc
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintignore
  .stylelintrc
  package.json
  src/pages/index.html
  src/pages/index.js
  webpack.config.cjs
  yarn.lock
Due: format, eslint:fix

Feat(styles): apply project config
  src/assets/images/main_background.png
  src/styles/_constants.css
  src/styles/_form.css
  src/styles/_layout.css
  src/styles/_media.css
  src/styles/_null.css
  src/styles/_theme.css
  src/styles/style.css
Due: stylelint:fix

Feat(common): apply project config
  src/assets/images/main_background.png
  src/styles/_constants.css
  src/styles/_form.css
  src/styles/_layout.css
  src/styles/_media.css
  src/styles/_null.css
  src/styles/_theme.css
  src/styles/style.css
Due: stylelint:fix

Feat(cooperation): add tests receiving from backend
  src/pages/tests/_tests.js
  src/pages/tests/index.js
Due: format, eslint:fix

Fix(start): reorganise project structure
  pages/start/index.html
  pages/start/index.js
  preview.css
  src/assets/images/start/icon.png
  src/images/preview/fon.png
  src/pages/start/index.html
  src/pages/start/index.js
  src/pages/start/start.css
  src/scripts/constants/start.js
Due: format, eslint:fix, stylelint:fix

Fix(about-us): reorganize project structure
  pages/about-us/about-us.css
  pages/about-us/index.html
  src/pages/about-us/about-us.css
  src/pages/about-us/index.html
  src/pages/about-us/index.js
Due: format, eslint:fix, stylelint:fix

Feat(common): add common scripts
  back_emu/_mockdata.js
  src/scripts/common.js
  src/scripts/constants/common.js
Due: format, eslint:fix

Feat(common): add common scripts
  src/scripts/_common.js
  src/scripts/constants/_common.js
Due: format, eslint:fix

Feat(preview): add "Preview" page
  index.html
  preview.css
  src/images/preview/background.png
Due: stylelint:fix

Feat(preview): add auth buttons
  background.png
  index.html
  index.js
  preview.css
Due: format, eslint:fix, stylelint:fix

Feat(preview): add animations
  index.html
  preview.css
Due: stylelint:fix

Fix(preview): reorganize project srtucture
  background.png
  index.html
  index.js
  preview.css
  src/assets/images/preview/background.png
  src/images/preview/background.png
  src/pages/index.html
  src/pages/index.js
  src/pages/preview.css
  src/scripts/_common.js
  src/scripts/constants/_common.js
  src/scripts/constants/preview.js
Due: format, eslint:fix, stylelint:fix

Fix(study): reorganize project structure
  src/pages/study/index.html
  src/pages/study/index.js
  src/pages/study/study.css
Due: format, eslint:fix, stylelint:fix

Feat(projects): add a Projects page
  pages/projects/main-page/index.html
  pages/projects/main-page/main-page.css
  pages/projects/project/index.html
  pages/projects/project/project.css
  src/images/projects/projects-img.png
Due: stylelint:fix

Fix(projects): update structure, fix html/css
  pages/projects/index.html
  pages/projects/main-page.css
  pages/projects/main-page/index.html
  pages/projects/pages/our-site/index.html
  pages/projects/pages/our-site/project.css
Due: stylelint:fix
